@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply max-w-full max-h-full overflow-x-hidden;
  }

  body {
    @apply font-serif bg-slate-800 text-gray-100;
  }
}

@layer base {
  .markdown-text {
    @apply overflow-auto;
    a {
      @apply font-bold underline;
    }
    h1 {
      @apply text-5xl font-bold;
    }
    h2 {
      @apply text-4xl font-bold;
    }
    h3 {
      @apply text-3xl font-bold;
    }
    ol {
      @apply list-inside list-decimal;
    }
    ul {
      @apply list-inside list-disc;
    }
    img {
      @apply w-1/2 rounded-lg md:mx-auto;
    }
    .codehilite {
      @apply pb-2 mb-6 mr-4;
    }
    pre {
      @apply overflow-x-auto pl-8  rounded;
    }
    code {
      @apply text-lg lg:text-xl text-left;
    }
  }
}
