{% extends 'absolutely-centered.html' %}

{% block content %}
    <div>
        {% if dia_de_la_setmana == 5 %}
            <h1 class="text-4xl">É S<br>D I V E N D R E S</h1>
        {% else %}
            <h1 class="text-3xl lg:text-2xl">És divendres?</h1>
            <h2>No</h2>
        {% endif %}
    </div>
{% endblock content %}
