{% extends 'absolutely-centered.html' %}

{% block content %}
    <div>
        <h1 class="text-4xl my-8">Quin es el millor Vallès?</h1>
        <div
            class="mx-auto w-11/12 lg:w-1/2 h-60 flex justify-center items-center bg-slate-800 hover:bg-gray-100 hover:border-4 hover:border-slate-800 text-slate-800 rounded-lg"
        >
            <p class="text-2xl">Clarament, el Vallès Occidental</p>
        </div>
    </div>
{% endblock content %}
