<!DOCTYPE html>
<html lang="en-UK">
    {% load static %} {% include "head.html" %}
    <body class="w-4/5 lg:w-2/5 m-auto font-serif text-3xl">
        <main>
            <h1 class="text-center font-bold text-4xl lg:text-5xl my-8">
                4 - 0 - 4<br />Page not found!
            </h1>
            <p class="text-2xl">
                The page you are looking for does not exist...
                <br />
                <br />
                Return <a class="font-semibold" href="{% url 'home' %}">home</a> safely.
            </p>
        </main>
    </body>
</html>
