<!DOCTYPE html>
<html lang="en-UK">
    {% load static %}

    {% include "head.html" %}

    <body class="font-serif text-lg lg:text-2xl">
        <main>
            <div class="flex justify-center items-center min-h-screen">
                <div class="min-w-11/12 w-11/12">
                    <div class="inline-block w-full text-center">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
