{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="author" content="Ferran Jovell Megias" />
    {% tailwind_css %}
    <link rel="icon" type="image/png" href="{% static 'logo_fjm.png' %}" />
    <title>Dr. Ferran Jovell Megias</title>
</head>
