{% extends 'layout.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="flex flex-col">
        <div class="flex justify-start mb-4">
            {% include 'profile_pic.html' with height="250" width="250" class="rounded-full" %}
        </div>
        <h1 class="w-full grow text-5xl lg:text-7xl">
            Dr. Ferran <br class="block md:hidden">Jovell Megias
        </h1>
        <h2 class="text-4xl lg:text-4xl w-full grow lg:hover:pl-4 lg:hover:text-sky-700 lg:hover:underline mt-4">
            <a href="{% url 'blog' %}">Software Developer</a>
        </h2>
        <h2 class="text-3xl lg:text-4xl w-full grow lg:hover:pl-4 lg:hover:text-sky-700 lg:hover:underline mt-4">
            <a href="{% url 'talks' %}">Speaker</a>
        </h2>
        {% include 'socials.html' %}
    </div>
{% endblock content %}
