{% load static %}

<!DOCTYPE html>

<html lang="en-UK">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta name="author" content="Ferran Jovell Megias" />
        <meta name="description" content="I am one with the machines, intrinsic in silicon, entwined with physics" />
        <meta name="keywords" content="ferran, jovell, bio,website, blog" />
        {% tailwind_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/codehilite.css' %}" />
        <link rel="icon" type="image/png" href="{% static 'logo_fjm.png' %}" />
        <title>{% block title %}{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="
                    overflow-x-hidden
                    flex
                    flex-col
                    relative
                    min-h-width
                    min-h-screen
                    justify-between
                    m-0 p-0
                    font-serif
                    bg-slate-800
                    text-gray-100
                   ">
            {% include "navbar.html" %}
            <main class="
                         flex-1 grow
                         lg:w-2/3
                         lg:text-justify
                         text-2xl lg:text-3xl
                         ml-4 lg:ml-8
                         mr-4
                         mt-8
                        ">

                <h1 class="text-2xl lg:text-5xl">{% block section_title %} {% endblock %}</h1>
                {% block content %} {% endblock %}
            </main>
            <footer class="
                           mb-2
                           text-left
                           text-sm lg:text-xl text-gray-400
                           lg:mx-4
                           mt-2
                          ">
                &copy; Copyright {% now "Y" %} by <a href="/">Ferran Jovell</a>.
            </footer>
        </div>
    </body>
</html>
