<a class="
          grow lg:flex-none
          lg:mr-4
          hover:text-blue-500
         "
   title="{{ location|title }}"
   href="{% url location %}"
>
  <div {% if url_name == location %}class="underline"{% endif %}>
    {% if is_icon is True %}
      {% heroicon_solid icon_name class="h-8 w-8" %}
    {% else %}
      {{ label|title }}
    {% endif %}
  </div>
</a>
