<div class="flex-row mt-4">
    {% for page in socials %}
        <span class="mr-2 lg:mr-6 grow home-title font-bold lg:hover:underline">
            <a href="{% url 'redirect' page %}">
                {{ page|title }}
            </a>
        </span>
    {% endfor %}
</div>
