{% extends 'layout.html' %}

{% load static %}

{% block section_title %}
    {% if request.resolver_match.url_name == 'blog' and posts %}
        <span class="font-bold font-mono">Deblog</span>
    {% endif %}
{% endblock section_title %}

{% block content %}
    <div class="flex-col">
        {% if years and not t and posts.number == 1 %}
            <div>
                {% for year in years %}
                    <a class="text-2xl font-bold underline" href="{% url 'post-year' year %}">{{ year }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <div>
            {% for post in posts %}
                <article class="py-3 text-ellipsis overflow-hidden">
                    <h2 class="text-3xl lg:text-3xl font-semibold font-mono">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <h3 class="text-base lg:text-lg text-left pb-2">
                        {{ post.published_date }} | Tags:
                        {% for tag in post.tags %}
                            <a class="font-bold " href="{% url 'blog' %}{% querystring page=page t=tag %}">{{ tag }}</a>
                        {% endfor %}
                    </h3>
                    <div class="text-lg lg:text-2xl md:text-justify markdown-text">
                        <div>
                            {{ post.preview|safe|linebreaks }}
                        </div>
                    </div>
                    <a class="font-semibold" href="{{ post.get_absolute_url }}">[Read more]</a>
                </article>
            {% empty %}
                {% include 'blog/no_posts.html' %}
            {% endfor %}
        </div>
    </div>

    {% if posts %}
        <div class="flex flex-row items-center align-middle space-x-2">
            {% if posts.has_previous %}
                <a href="{% querystring page=posts.previous_page_number t=t %}">
                    {% heroicon_solid 'chevron-left' class="w-8" %}
                </a>
            {% endif %}

            {% if pagination %}
                {% for page in pagination %}
                    <a class="
                              text-3xl
                              font-bold
                              rounded-md
                              text-center
                              w-12 lg:w-10
                              h-12 lg:h-fit
                              pt-2.5 lg:pt-1
                              hover:underline
                              {% if page == posts.number %}bg-white text-slate-900{% endif %}
                             " href="{% querystring page=page t=t %}">{{ page }}</a>
                {% endfor %}
            {% endif %}

            {% if posts.has_next %}
                <a href="{% querystring page=posts.next_page_number t=t %}">
                    {% heroicon_solid 'chevron-right' class="w-8" %}
                </a>
            {% endif %}
        </div>
    {% endif %}

    {% if year_view %}
        {% include "blog/go_back.html" %}
    {% endif %}

{% endblock content %}
