<div>
    <p class="lg:text-center text-2xl lg:text-4xl">
        No posts were found {% heroicon_solid 'face-frown' class="inline-block h-8 w-8" %}
    </p>
    {% include "blog/go_back.html" %}
</div>
