{% extends 'layout.html' %}

{% load static %}

{% block title %}
    {{ post.title|title }}
{% endblock title %}

{% block content %}
    <div>
        <h1 class="text-3xl font-semibold py-4">{{ post.title|title }} - Preview </h1>
        <p class="text-left text-2xl py-4">
            <a class="font-bold underline" href="{% url 'admin:deblog_post_change' post.id %}">Edit</a> |
            Tags:
            {% for tag in post.tags %}
                <strong>{{ tag }}</strong>
            {% endfor %}
        </p>
    </div>

    <div class="text-2xl markdown-text">
        {{ post.html|safe|linebreaksbr }}
    </div>
    <br>
    <div class="text-2xl font-semibold italic">
        {{ post.author.first_name }} {{ post.author.last_name }}
    </div>
{% endblock content %}
