{% extends 'layout.html' %}

{% load static %}

{% block title %}{{ post.title|title }}{% endblock %}

{% block extra_head %}
    <meta property="og:url" content="https://jovell.dev{{ request.path }}">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ post.preview_text }}">
    <meta property="og:image" content="{% static 'header.png' %}" />
    <meta name="twitter:card" content="{{ post.preview_text }}" />
    <meta name="twitter:description" content="{{ post.preview_text }}" />
    <meta name="twitter:site" content="https://jovell.dev{{ request.path }}" />
    <meta name="twitter:site" content="{{ post.author.twitter_handle }}" />
    <meta name="twitter:title" content="{{ post.title }}" />
    <meta name="twitter:image" content="{% static 'header.png' %}" />
{% endblock extra_head %}

{% block content %}
    <div>
        <h1 class="text-3xl font-semibold py-4">{{ post.title|title }}</h1>
        <p class="text-left text-2xl py-4">Published on {{ post.published_date }} |
            Tags:
            {% for tag in post.tags %}
                <a class="font-bold" href="{% url 'blog' %}{% querystring page=page t=tag %}">{{ tag }}</a>
            {% endfor %}
        </p>
    </div>

    <article class="text-xl md:text-3xl md:text-justify markdown-text">
        {{ post.html|safe|linebreaks }}
    </article>
    <br>
    <div class="text-2xl font-semibold italic">
        {{ post.author.first_name }} {{ post.author.last_name }}
    </div>
    <div>
        {% include 'blog/go_back.html' %}
    </div>
{% endblock content %}
