{% extends 'layout.html' %}

{% block title %}List of Telegram Bots{% endblock %}

{% block content %}
    List of Telegram Bots I made:
    <ul class="list-disc list-inside pb-10">
        <li><a class="font-bold hover:underline" href="https://t.me/MockMeBot">Mock Me Bot</a>:
            <p class="pl-8">
                An inline bot that turns all vowels of the query into is. In an
                empty message box (anywhere) type <span
                    class="font-mono text-2xl">@mockmebot &ltyour query goes here&gt</span>.
            </p>
        </li>
        <li><a class="font-bold hover:underline" href="https://t.me/dia_de_la_setmana_bot"> Dia de la setmana</a>:
            <p class="pl-8">
                A meme for every day of the week (in catalan).
            </p>
        </li>
        <li><a class="font-bold hover:underline" href="https://t.me/dia_o_nit_bot">Nit o Dia</a>:
            <p class="pl-8">
                It tells you whether it is day or night (in Barcelona) and
                information about sunset, sunrise, noon and length of the day.
            </p>
        </li>
        <li><a class="font-bold hover:underline" href="https://t.me/es_divendres_bot">Es divendres</a>:
            <p class="pl-8">
                A simple silly bot that tells you whether today is friday or
                not.
            </p>
        </li>
        <li><a class="font-bold hover:underline" href="https://t.me/should_i_use_kubernetes_bot">Should I use Kubernetes</a>:
            <p class="pl-8">
                Another silly bot that tells you whether you should use K8s or
                not (note: it's very biased).
            </p>
        </li>
    </ul>

    You can find all the code for these bots in my gitlab.

{% endblock content %}
