{% extends 'layout.html' %}

{% load static %}

{% block section_title %}Dr. Ferran Jovell{% endblock %}

{% block content %}

    <div class="flex justify-center">
        {% include 'profile_pic.html' with height="400" width="400" %}
    </div>

    <div class="lg:text-justify mt-4">
        {{ biography.body|linebreaks }}
    </div>

    <div class="mt-8">
        Read more about me:
        <ul class="list-disc list-inside">
            <li><a class="font-semibold hover:underline hover:text-blue-500"  href="{% url 'blog' %}">blog</a></li>
            <li><a class="font-semibold hover:underline hover:text-blue-500"  href="{% url 'talks' %}">talks</a></li>
            <li><a class="font-semibold hover:underline hover:text-blue-500" href="{% url 'projects' %}">projects</a></li>
            <li><a class="font-semibold hover:underline hover:text-blue-500"  href="{% url 'redirect' 'resume' %}">resume</a></li>
            <li><a class="font-semibold hover:underline hover:text-blue-500" href="{% url 'redirect' 'thesis' %}">thesis</a></li>
        </ul>
        <br>
        Contact me via <span class="font-black"><a href="{% url 'redirect-mail' %}">email</a></span>.
    </div>

{% endblock content %}
