{% extends 'layout.html' %}

{% block section_title %}
    <span class="font-semibold">
        Ara i aquí
    </span>
{% endblock section_title %}

{% load static %}

{% block content %}
    {% if now is not None %}
        <h2 class="text-3xl lg:text-3xl font-semibold mt-4">Last updated: {{ now.created|date:"j b Y" }}</h2>
        <article class="lg:text-justify mt-4 markdown-text overflow-hidden">
            {{ now.html|safe|linebreaks }}
        </article>
    {% endif %}
{% endblock content %}
