{% extends 'layout.html' %}

{% block section_title %}Projects{% endblock %}

{% block content %}

    <ul class="list-disc list-inside pb-10">
        {% for project in projects %}
            <li class="pb-4"> {{ project.title }}:
                <p class="text-2xl italic pl-10">
                    {{ project.description }}
                    <a class="text-2xl font-semibold underline not-italic" href="{{ project.href }}">
                        {{ project.link|default:project.href }}
                    </a>
                </p>
            </li>
        {% endfor %}
    </ul>

    You can also check out my talks here: <a class="font-semibold underline non-italic" href="{% url 'talks' %}"> Talks </a>
{% endblock content %}
