{% extends 'layout.html' %}

{% block section_title %}Talks{% endblock %}

{% block content %}
    <ul class="list-disc list-inside">
        {% for talk in talks %}
            <li class="pb-4">
                <span class="text-3xl font-bold">{{ talk.title }}</span>
                <p class="pl-4 text-lg">
                    {% if talk.event %}
                        Event: {{ talk.event }}
                        <br>
                    {% endif %}
                    Date: {{ talk.date }}
                    <br>
                    Brief: {{ talk.abstract }}
                    <br>
                    {% if talk.video_link %}
                        <span class="italic">Video of the talk</span>: <a class="font-semibold hover:underline" href="{{ talk.video_link }}">{{ talk.video_link }}</a>
                    {% endif %}
                    {% if talk.slides_link %}
                        <br>
                        <span class="italic">Slides</span>: <a class="font-semibold hover:underline" href="{{ talk.slides_link }}">here</a>
                    {% endif %}
                </p>
            </li>
        {% endfor %}

        You can also check out my projects here: <a class="font-semibold underline non-italic" href="{% url 'projects' %}"> Projects </a>

    </ul>
{% endblock content %}
